<div class="forgot-pass-box">
  <div class="back-arrow" (click)="toLoginPage()">
      <i class="fas fa-arrow-left" style="font-size: 30pt"></i>
  </div>
  <div class="image">
    <img src="/assets/Screen Shot 2018-10-16 at 5.41.39 PM.png" alt="">
  </div>
  <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
    <div class="text">
      <p class="p1">Forgot Your Password?</p>
      <p class="p2">Enter your e-mail address below<br>to get your password reset instruction</p>
    </div>
    <div class="email-input">
      <i class="fas fa-mail-bulk email"></i>
      <input type="text" placeholder="E-mail" formControlName="email" [pattern]="passwordPattern" onfocus="this.placeholder=''" required>
      <br>
      <span class="invalid-feedback" *ngIf="emailRequired()">E-mail is required</span>
      <span class="invalid-feedback" *ngIf="emailInvalid()">E-mail is invalid</span>
    </div>
    <br>
    <button class="password-recover-button">Recover Password</button>
  </form>
</div>
