.logo-picture{
  position: absolute;
  margin: 40pt 0 0 40pt;
}

.username-input{
  margin-bottom: 20px;
}

.login-menu{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 190pt;
  left: 60pt;
  width: 260pt;
  display: inline-block;
}

.log-in-form{
  color: #cccccc;
  padding-left: 5px;
  height: 38px;
  width: 180pt;
  display: inline;
  margin: 0;
  border: 2px solid gainsboro;
  outline: none;
  border-left-width: 1px;
}


.icon{
  display: inline;
  color: gainsboro;
  border: 2px solid gainsboro;
  padding: 12px;
  border-right-width: 1px;
}

.eye-icon{
  color: gainsboro;
  margin: -30pt;
  display: inline;
}

.login-button{
  float: left;
  margin: 20pt 20pt 20pt 0;
  border: none;
  outline: none;
  height: 50px;
  width: 80pt;
  background: rgb(78, 189, 150); ;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.login-button:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.create-account-menu {
  color: white;
  display: inline-block;
  margin: 20pt 0 20pt 20pt;
  border: none;
  outline: none;
  height: 50px;
  width: 80pt;
  background: rgb(78, 189, 150);
  font-size: 18px;
  border-radius: 5px;
  float: left;
}

.create-account-menu:hover{
  cursor: pointer;
  background: #ffc107;
  color: white;
}

.side-picture{
  float: right;
}

.side-picture img{
  width: 550pt;
  height: 500pt;
}

.forgot-pass{
  margin-left: 27pt;
  height: 40pt;
  font-size: 18px;
  background: rgb(78, 189, 150);
  border-radius: 5px;
  color: white;
  outline: none;
}

.forgot-pass:hover{
  cursor: pointer;
  background: #ffc107;
}

