<div class="loginbox" id="loginbox">
  <div class="logo-picture">
    <img src="/assets/picture2.png" alt="">
  </div>
  <div class="login-menu">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="username-input">
        <i [ngClass]="{ 'icon-error': addErrorClassLogin() }" class="fas fa-user-alt icon"></i>
        <input [ngClass]="{ 'log-in-form-error': addErrorClassLogin() }" type="text" class="log-in-form" onfocus="this.placeholder=''"
               formControlName="login" placeholder="Username or e-mail"
               [pattern]="pattern">
        <div *ngIf="loginRequirementCheck()" class="invalid-feedback">E-mail is required</div>
        <div *ngIf="loginValidCheck()" class="invalid-feedback">E-mail is invalid</div>
      </div>
      <div class="password-input">
        <i class="fas fa-key icon" [ngClass]="{ 'icon-error': addErrorClassPassword() }"></i>
        <input [ngClass]="{ 'log-in-form-error': addErrorClassPassword() }" [type]="passwordType" class="log-in-form" onfocus="this.placeholder=''" formControlName="password" placeholder="Password">
        <i class="fas fa-eye eye-icon" (mouseup)="mouseUpEvent()" (mousedown)="mouseDownEvent()" (mouseleave)="mouseUpEvent()"></i>
        <div *ngIf="passwordRequirementCheck()" class="invalid-feedback">Password is required</div>
      </div>
      <br>
        <button class="login-button" (click)="goToUsersList()">LOGIN</button>
        <button type="button" class="create-account-menu" (click)="goToSignUp()">SIGN UP</button>
        <button type="button" class="forgot-pass" (click)="goToForgotPass()">Forgot your password?</button>
    </form>
  </div>
  <div class="side-picture">
    <img src="/assets/picture.png" alt="">
  </div>
</div>
