<div class="loginbox">
  <h1>SIGN UP</h1>
  <form>
    <div class="group">
      <input type="text" name=""  required style="width: 290pt">
      <span style="width: 310pt" class="bar"></span>
      <label>Full name</label>
    </div>
    <table>
      <tr>
        <th>
          <div class="group">
            <input type="text" name=""  required>
            <span class="bar"></span>
            <label>Age</label>
          </div>
        </th>
        <th>
          <div class="group">
            <input type="text" name=""  required>
            <span class="bar"></span>
            <label>City</label>
          </div>
        </th>
      </tr>
    </table>
    <table>
      <tr>
        <th>
          <div class="group">
            <input type="email" name=""  required>
            <span class="bar"></span>
            <label>E-mail</label>
          </div>
        </th>
        <th>
          <div class="group">
            <input type="text" name=""  required>
            <span class="bar"></span>
            <label>College</label>
          </div>
        </th>
      </tr>
    </table>
    <input type="submit" value="SIGN UP">
    <div>
      <button type="button" class="sign-in-button"(click)="goToLogin()">BACK TO LOGIN</button>
    </div>
  </form>
</div>
