
.loginbox{
  width: 380pt;
  height: 450pt;
  background: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0.1em 0.4em 16px rgba(0,0,0,0.5);
  padding: 20pt 30pt;
}

h1{
  margin: 0;
  padding: 0 0 15pt;
  text-align: center;
  font-size: 26pt;
}

.group {
  position: relative;
  margin-bottom: 30px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 180px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-weight: normal;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: grey;
}


/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 200px;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: yellow;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 30pt;
  width: 300pt;
  background: #ffc107;
  color: white;
  border-radius: 5pt;
  margin: 20pt 0 0 10pt;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #fb2525;
  color: white;
}

.line{
  margin-top: 30pt;
  margin-bottom: 10pt;
  height: 1px;
  background: #cccccc;
  width: 115pt;
  float: left;
}

.or{
  margin-top: 30pt;
  margin-bottom: 10pt;
  color: #cccccc;
  font-size: 8pt;
  margin-left: 15pt;
  margin-right: 15pt;
}

.sign-in-button{
  margin-top: 20pt;
  margin-left: 10pt;
  font-size: 12pt;
  font-family: sans-serif;
  color: white;
  background: #ffc107;
  height: 30pt;
  width: 300pt;
  border: none;
  outline: none;
  border-radius: 5pt;
}

.sign-in-button:hover{
  cursor: pointer;
  color:white;
  background: #fb2525;
}
