body{
    background: white;
    font-family:  Arial;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

.container{
    overflow: scroll;
    display: block;
    position: relative;
    float: left;
    top: 25%;
    left: 25%;
    color: rgb(129, 150, 160);
    margin: 20pt 40pt 40pt -300pt;
    background: rgb(242, 247, 248);
    width: 650pt;
    height: 580pt;
    border: none;

}

.user-table{
    margin:0 10pt 0 20pt;
    border-collapse: separate;
    border-spacing: 0 10px;
    position: absolute;
}

th{
    text-align: left;

}

.head-photo{
    width: 50pt;
    height: 30pt;
}

.head-basic-info{
    width: 180pt;
    height: 30pt;
}

.head-age{
    width: 140pt;
    height: 30pt;
}

.head-city{
    width: 100pt;
    height: 30pt;
}

.head-college{
    width: 140pt;
    height: 30pt;
}

td{
    height: 30pt;
    background: transparent;
}

/*tbody >tr {*/
    /*background-color: white;*/
/*}*/

tbody >tr:hover{
    cursor: pointer;
}

img{
    border-radius: 50%;
}

div{
    color: rgb(202, 210, 215);
}

button{
    width: 40pt;
    height: 20pt;
    border-radius: 3pt;

}

.listItem{
    padding: 10px 10px 10px 10px;
    margin: 3px;
    border-top: thick solid white;
    border-top-width: 1px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.up-triangle{
    display: inline-block;
    margin-left: 10pt;
    width: 0;
    height: 0;
    border-bottom: 6pt solid black;
    border-left: 3pt solid transparent;
    border-right: 3pt solid transparent;
    margin-right: 2pt;
    cursor: pointer;
}

.up-triangle:hover{
    border-bottom: 6pt solid red;
}

.red-up{
    border-bottom: 6pt solid red;
}

.bottom-triangle{
    display: inline-flex;
    width: 0;
    height: 0;
    border-top: 6pt solid black;
    border-left: 3pt solid transparent;
    border-right: 3pt solid transparent;
    margin-right: 2pt;
    cursor: pointer;
    margin-top: 2pt;
}

.bottom-triangle:hover{
    border-top: 6pt solid red;
}

.red-bottom{
    border-top: 6pt solid red;
}

img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.topnav{
    height: 35pt;
    background-color: rgb(242, 247, 248);
}

.topnav .search-container{
    float: right;
}

.topnav .search-container button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover{
    background: #ccc;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#pagination{
    position: absolute;
    bottom: 30pt;
    left: 180pt;
}

.lds-dual-ring {
    background: rgb(242, 247, 248);
    position: absolute;
    left: 280pt;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 5px solid red;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}









