.circle{
  background-color: rgb(67, 73, 105);
  height: 400pt;
  width: 800pt;
  border-top-left-radius: 410pt;
  border-top-right-radius: 410pt;
  position: absolute;
  bottom: 0;
  right: 25%;
  left: 50%;
  margin-left: -400pt;
}
