.container{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 7px 10px rgb(230, 234, 238);
  width: 900pt;
  height: 500pt;
  background: white;
}

